certifi==2021.5.30
charset-normalizer==2.0.12
idna==3.4
importlib-resources==5.4.0
nibabel==3.2.2
numpy==1.19.5
packaging==21.3
pandas==1.1.5
progressbar2==3.55.0
pydicom==2.3.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-utils==3.5.2
pytz==2023.3
requests==2.27.1
SimpleITK==2.1.1.2
six==1.16.0
tqdm==4.64.1
typing_extensions==4.1.1
urllib3==1.26.16
zipp==3.6.0
